<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AccountFilter</filter-name>
        <filter-class>filter.AccountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccountFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>/HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieDetailServlet</servlet-name>
        <servlet-class>controller.MovieDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleServlet</servlet-name>
        <servlet-class>controller.GoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseSeatServlet</servlet-name>
        <servlet-class>controller.ChooseSeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccount</servlet-name>
        <servlet-class>controller.MyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MngMovieServlet</servlet-name>
        <servlet-class>controller.admin.MovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseComboServlet</servlet-name>
        <servlet-class>controller.ChooseComboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CinemaServlet</servlet-name>
        <servlet-class>controller.cinema.CinemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowtimeServlet</servlet-name>
        <servlet-class>controller.cinema.ShowtimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>controller.cinema.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboServlet</servlet-name>
        <servlet-class>controller.cinema.ComboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.cinema.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowtimesServlet</servlet-name>
        <servlet-class>controller.ShowtimesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPAYAjaxServlet</servlet-name>
        <servlet-class>controller.VNPAYAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPAYQueryServlet</servlet-name>
        <servlet-class>controller.VNPAYQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowtimeForm</servlet-name>
        <servlet-class>controller.cinema.ShowtimeFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>controller.TicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatServlet</servlet-name>
        <servlet-class>controller.cinema.SeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>controller.MovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CinemasServlet</servlet-name>
        <servlet-class>controller.CinemasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TheaterServlet</servlet-name>
        <servlet-class>controller.TheaterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CinemaSystemServlet</servlet-name>
        <servlet-class>controller.CinemaSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <servlet-class>controller.admin.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieFormServlet</servlet-name>
        <servlet-class>controller.admin.MovieFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieDetailServlet</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleServlet</servlet-name>
        <url-pattern>/google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseSeatServlet</servlet-name>
        <url-pattern>/choose-seat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccount</servlet-name>
        <url-pattern>/my-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseComboServlet</servlet-name>
        <url-pattern>/choose-combo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemaServlet</servlet-name>
        <url-pattern>/cinema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowtimeServlet</servlet-name>
        <url-pattern>/cinema/showtimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/cinema/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboServlet</servlet-name>
        <url-pattern>/cinema/combo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/cinema/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowtimesServlet</servlet-name>
        <url-pattern>/showtimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPAYAjaxServlet</servlet-name>
        <url-pattern>/vnpayajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPAYQueryServlet</servlet-name>
        <url-pattern>/vnpayquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowtimeForm</servlet-name>
        <url-pattern>/cinema/showtime-form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketServlet</servlet-name>
        <url-pattern>/ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatServlet</servlet-name>
        <url-pattern>/cinema/seats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemasServlet</servlet-name>
        <url-pattern>/cinemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TheaterServlet</servlet-name>
        <url-pattern>/theater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemaSystemServlet</servlet-name>
        <url-pattern>/cinema-system</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MngMovieServlet</servlet-name>
        <url-pattern>/admin/movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieFormServlet</servlet-name>
        <url-pattern>/admin/movie-form</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
</web-app>
